body {
    background-color: var(--cornflowerblue);
}

.view-all-inventory {
    background-color: var(--minionyellow);
    color: var(--black);
    font-size: 2.5rem;
    border: none;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    box-shadow: 5px 8px 5px;
}

.view-all-inventory:hover {
    background-color: var(--minionhighlight);
    color: #000;
}

.free-ship-banner {
    background-color: var(--rustyred);
    color: var(--white);
}

.free-ship-banner p {
    font-size: 5rem;
}

.free-ship-banner-btn {
    background-color: var(--searsblue);
    color: var(--minionyellow);
    font-size: 2rem;
    border: none;
    width: 75%;
}